{% extends "base_administrator.html" %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block content %}

<section class="max-w-xl py-12 mx-auto px-4 md:px-8">
    <div class="space-y-3 text-center">
        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 24 24"><path fill="#4f46e5" d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2m-7 6.75L6.666 6h12.668z"/><path fill="#4f46e5" d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"/></svg>
      <h3 class="text-3xl text-gray-800 font-bold">Restablecer Su Contraseña</h3>
      <p class="text-gray-400 leading-relaxed">Le hemos enviado un correo electrónico para establecer su contraseña. Presione el link para continuar con el proceso.</p>
    </div>
    <div class="mt-6">
      <p class="mt-3 mx-auto text-center max-w-lg text-[15px] text-gray-400">Si no lo encuentra en su bandeja de entrada, verifique la carpeta de spam o correo no deseado. O asegúrese de haber ingresado la dirección de correo electrónico que guardo en el registró.</p>
    </div>
  </section>

<h1></h1>

<p></p> <p></p>
{% endblock %}