{% extends 'base_business.html' %}

{% block contenido %}

    <main class="w-full h-[480px] flex flex-col items-center justify-center px-4">
        <div class="max-w-sm w-full text-gray-600 space-y-5">
          <div class="text-center pb-8">
            <div class="mt-5 flex justify-center items-center">
                <svg  class="w-9 h-9 mr-2" xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 20 20"><path fill="#4f46e5" d="m6.4 14.1l1.3 1.3l6.9-6.9l-1.3-1.3zm6.3-7.5l-1.3-1.3l-6.9 6.9l1.4 1.4zm2.1-4.7l3.3 3.3c.6.6.5 1.5 0 2l-9.9 9.9l-6.9 1.4l1.4-6.9q9.3-9.45 9.9-9.9c.6-.4 1.6-.4 2.2.2"/></svg>
                <h2 class="text-gray-800 text-2xl font-semibold sm:text-3xl">Editar {{service.name}}</h2>
            </div>
          </div>
          <form class="space-y-5" form action="" method="POST">
            {% csrf_token %}
            <div class="flex justify-between">
              <label class="font-medium" >Activar</label>
              {{form.is_active}}
            </div>

            <span class="hidden h-px w-full bg-gray-300 md:block space-y-0" style="margin-top: 5px !important;"></span>

            <div>
                <label class="font-medium">Captcha</label>
                <div class="w-full mt-2 px-3 py-2 flex justify-center items-center">
                  {{form.captcha}}
                </div>
            </div>
            <button class="w-full px-4 py-2 text-white font-medium bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-600 rounded-lg duration-150">Actualizar Servicio</button>
          </form>
          <form class="space-y-5" action="{% url 'delete_my_services_business' service.id %}" method="POST">
            {% csrf_token %}
            <button class="w-full px-4 py-2 text-white font-medium bg-red-600 hover:bg-red-500 active:bg-red-600 rounded-lg duration-150">Eliminar Servicio</button>
        </form>
          </p>
        </div>
      </main>

{% endblock %}