{% extends 'base_customer.html' %}
{% load static %}
{% block contenido %}
<main class="w-full h-[650px] flex flex-col items-center justify-center px-4">
  <div class="max-w-sm w-full text-gray-600 space-y-5">
    <div class="text-center pb-8">
      <img src="{% static 'logo_1.png' %}" width="90" height="" alt="Float UI logo" class="mx-auto"/>
      <div class="mt-5">
        <h2 class="text-gray-800 text-2xl font-bold sm:text-3xl">Inicia sesión en tu cuenta</h2>
      </div>
    </div>
    <form class="space-y-5" form action="" method="POST">
      {% csrf_token %}
      <div>
        <label class="font-medium">Usuario</label>
        {{form.username}}
      </div>
      <div>
        <label class="font-medium">Contraseña</label>
         {{form.password}}
      </div>
      <div>
        <label class="font-medium">Captcha</label>
        <div class="w-full mt-2 px-3 py-2 flex justify-center items-center">
          {{form.captcha}}
        </div>
      </div>

      <button class="w-full px-4 py-2 text-white font-medium bg-indigo-600 hover:bg-indigo-500 active:bg-indigo-600 rounded-lg duration-150">Iniciar Sesión</button>
    </form>
    <p class="text-center"><a class="font-medium text-indigo-600 hover:text-indigo-500" href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a></p>
    <p class="text-center">¿No tienes una cuenta? <a href="{% url 'sign_up_customer' %}" class="font-medium text-indigo-600 hover:text-indigo-500" rel="nofollow">Registrate</a>
    </p>
  </div>
</main>

{% endblock %}
